/***ANIMATIONS***/

/* fade-in for catalog page*/
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*scale-in-top for sublist*/

@-webkit-keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}
@keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

/*Scale-in bottom for tooltip*/

@-webkit-keyframes scale-in-bottom {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 1;
    }
}
@keyframes scale-in-bottom {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 1;
    }
}

/*cards entrance*/

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}
@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

.card:nth-of-type(1) {
    -webkit-animation: swing-in-top-fwd 0.5s
        cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        0.05s both;
}

.card:nth-of-type(2) {
    -webkit-animation: swing-in-top-fwd 0.5s
        cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.25s both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        0.1s both;
}

.card:nth-of-type(3) {
    -webkit-animation: swing-in-top-fwd 0.5s
        cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        0.15s both;
}

.card:nth-of-type(4) {
    -webkit-animation: swing-in-top-fwd 0.5s
        cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.55s both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        0.2s both;
}

.card:nth-of-type(5) {
    -webkit-animation: swing-in-top-fwd 0.5s
        cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.7s both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        0.25s both;
}

.card:nth-of-type(6) {
    -webkit-animation: swing-in-top-fwd 0.5s
        cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.85s both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        0.3s both;
}

.card:nth-of-type(7) {
    -webkit-animation: swing-in-top-fwd 0.5s
        cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        0.35s both;
}

.card:nth-of-type(8) {
    -webkit-animation: swing-in-top-fwd 0.5s
        cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.15s both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        0.4s both;
}

.card:nth-of-type(9) {
    -webkit-animation: swing-in-top-fwd 0.5s
        cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.3s both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        0.45s both;
}

.card:nth-of-type(10) {
    -webkit-animation: swing-in-top-fwd 0.5s
        cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.45s both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        0.5s both;
}

.card:nth-of-type(11) {
    -webkit-animation: swing-in-top-fwd 0.5s
        cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.6s both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        0.55s both;
}

.card:nth-of-type(12) {
    -webkit-animation: swing-in-top-fwd 0.5s
        cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.75s both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        0.6s both;
}

.card:nth-of-type(13) {
    -webkit-animation: swing-in-top-fwd 0.5s
        cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.9s both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        0.65s both;
}

.card:nth-of-type(14) {
    -webkit-animation: swing-in-top-fwd 0.5s
        cubic-bezier(0.175, 0.885, 0.32, 1.275) 2.05s both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        0.7s both;
}

.card:nth-of-type(15) {
    -webkit-animation: swing-in-top-fwd 0.5s
        cubic-bezier(0.175, 0.885, 0.32, 1.275) 2.2s both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        0.75s both;
}

.card:nth-of-type(16) {
    -webkit-animation: swing-in-top-fwd 0.5s
        cubic-bezier(0.175, 0.885, 0.32, 1.275) 2.35s both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        0.8s both;
}

/*scale in search*/

@-webkit-keyframes scale-in-hor-left {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }
}
@keyframes scale-in-hor-left {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }
}
